@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.bg {
  background-color: #fafafafa;
}
.navbar-toggler {
  border: none !important;
  background: none;
  color: #494949;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-nav {
  margin: 0 12px;
}
.nav-link {
  margin: 0.8rem;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #212832;
}
.nav-link:hover {
  text-transform: uppercase;
  color: #212832;
}
.nav-link:focus {
  text-decoration: underline;
  padding: 2px;
  color: #212832;
}
.button {
  width: 102px;
  height: 40px;
  margin: 12.8px;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  border: 1px solid #212832;
  background-color: #fafafa;
}
.tag-line {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #df6951;
  text-transform: uppercase;
}
.moto {
  font-size: 5.25rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #181e4b;
}
.hero-discription {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  width: 80%;
}
.hero-button {
  width: 170px;
  height: 60px;
  border-radius: 10px;
  background-color: #f1a501;
  color: #fafafafa;
  font-size: 1.12rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: 1px solid #f1a501;
}
.play-icon {
  width: 60px;
  height: 60px;
  color: #df6951;
}
.play-button {
  width: 170px;
  height: 60px;
  background: none;
  border: none;
  border-radius: 10px;
  color: #686d77;
}
.category-title,
.destination-title {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  text-transform: uppercase;
}
.category-moto,
.destination-moto {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #14183e;
}
.card {
  border: none;
}

.card-title {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #1e1d4c;
}
.card-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}
.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.book-tag {
  font-family: "Poppins", sans-serif;
  font-size: 1.12rem;
  color: #5e6282;
}
.book-moto {
  font-family: "Poppins", sans-serif;
  font-size: 3.12rem;
  color: #14183e;
  width: 31.9rem;
}
.value-tag {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #5e6282;
}
.value-moto {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #5e6282;
}
.subscribe-background {
  width: 1170px;
  height: 407px;
  background-color: rgba(223, 215, 249, 0.2);
  border-radius: 129px 20px 20px 20px;
  position: relative;
}
.subscribe-text {
  font-size: 2.06rem;
  font-family: "Poppins ", sans-serif;
  width: 53.6rem;
  color: #5e6282;
}
.subscribe-input {
  width: 421px;
  height: 68px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #39425d;
  font-size: 14px;
  font-family: "Poppins ", sans-serif;
  font-weight: 500;
}
.subscribe-button {
  width: 180px;
  height: 68px;
  color: #ffffff;
  font-size: 17px;
  font-family: "Poppins ", sans-serif;
  background-color: #ff946d;
  border-radius: 10px;
  border: none;
}
.input-group-text {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
}
.envelop {
  height: 18px;
  width: 21px;
  color: #39425d;
}
.subscribe-tele {
  position: absolute;
  top: -2vh;
  right: 0vh;
}
.logo-text {
  font: size 2.7rem;
  font-family: "Poppins", sans-serif;
  color: #181e4b;
}
.footer-p {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}
.services-text {
  font-size: 1.31rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #080809;
}
.services-link {
  text-decoration: none;
  font-size: 1.12rem;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}
.services-link:hover {
  color: #4e6574;
}
.social {
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
}
.rights-text {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}
@media screen and (min-width: 786px) and (max-width: 992px) {
  .subscribe-background {
    width: 800px;
    height: 407px;
    border-radius: 20px 20px 20px 20px;
  }
  .subscribe-text {
    width: 38.6rem;
  }
  .subscribe-tele {
    width: 60px;
    height: 60px;
  }
  .inputs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribe-button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 786px) {
  .subscribe-background {
    width: 600px;
    height: 407px;
    border-radius: 20px 20px 20px 20px;
  }
  .subscribe-tele {
    width: 50px;
    height: 50px;
  }
  .subscribe-text {
    width: 30.6rem;
  }
  .inputs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribe-button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .moto {
    font-size: 3rem;
  }
  .p-4 {
    padding: 0.5rem !important;
  }
  .play-button {
    margin-top: 10px;
  }
  .category-title {
    font-size: 1.5rem;
  }
  .category-moto {
    font-size: 1.3rem;
  }
  .book-moto {
    font-size: 2rem;
    width: 21.9rem;
  }
  .subscribe-background {
    width: 300px;
    height: 407px;
    border-radius: 20px 20px 20px 20px;
  }
  .subscribe-tele {
    width: 50px;
    height: 50px;
  }
  .subscribe-text {
    font-size: 1rem;
    width: 15.6rem;
  }
  .inputs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .subscribe-input {
    width: 200px;
    height: 68px;
  }
  .subscribe-button {
    width: 150px;
    height: 68px;
    margin-top: 20px;
  }
}
