@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.bg {
  background-color: #fafafa;
}
.navbar-toggler {
  border: none !important;
  background: none;
  color: #494949;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-nav {
  margin: 0 12px;
}
.nav-link {
  margin: 0.8rem;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #212832;
}
.nav-link:hover {
  text-transform: uppercase;
  color: #212832;
}
.nav-link:focus {
  text-decoration: underline;
  padding: 2px;
  color: #212832;
}
.button {
  width: 102px;
  height: 40px;
  margin: 12.8px;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  border: 1px solid #212832;
  background-color: #fafafa;
}
.tag-line {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #df6951;
  text-transform: uppercase;
}
.moto {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #181e4b;
}
.hero-discription {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  width: 80%;
}
.find {
  width: 170px;
  height: 60px;
  border-radius: 10px;
  background-color: #f1a501;
  color: #fafafafa;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: 1px solid #f1a501;
}
